
/* common shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #FF42A5;
    /* --secondary-color: #8758F1; */
}

.primary {
    background: var(--primary-color, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header section styles*/
header {
    padding: 35px 12.5% 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* nav section */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.nav-logo img {
    padding-top: 7px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.nav-items ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-items ul li {
    list-style: none;
}

.nav-items ul li:nth-child(3) {
    padding: 15px 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-items ul li a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: #000;
}


/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    /* header section */
    header {
        padding-top: 35px;
    }
    .nav,
    .nav-items ul {
        flex-direction: column;
    }

    .nav-logo-container {
        margin-bottom: 35px;
    }

    .nav-title {
        font-size: 2rem;;
    }

}


/* responsive for tablet devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* header section */
    header {
        padding-top: 50px;
    }
    .nav {
        flex-direction: column;
    }

    .nav-logo-container {
        margin-bottom: 35px;
    }

    .nav-items ul {
        gap: 3.5rem;
    }
}