
/* common shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #FF42A5;
    /* --secondary-color: #8758F1; */
}

.primary {
    background: var(--primary-color, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-solid, .fa-regular {
    width: 24px;
}

.btn-primary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    background: var(--primary-color, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    border-radius: 3rem;
}

/* header section styles*/
header {
    padding: 35px 12.5%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
/* nav section */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.nav-logo img {
    padding-top: 7px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.nav-items ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-items ul li {
    list-style: none;
}

.nav-items ul li:nth-child(3) {
    padding: 15px 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-items ul li a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: #000;
}

/* banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.banner-content-container {
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding-left: 12.5%;
}

.banner-content {
    margin-top: 24px;
}

.banner-btn {
    margin-top: 40px;
}

.banner-subtitle {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
}

.banner-text {
    display: flex;
    gap: 8px;
    align-items: center;
}

.fa-circle-play, .fa-download {
    color: var(--primary-color);
}

.fa-user-group {
    color: #0B0223;
}

.text-line {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-banner {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    background: #4EC5F7;
    border: none;
    border-radius: 3rem;
    margin-left: 10px;
}

.banner-image {
    max-width: 50%;
    padding-right: 12.5%;
}

.banner-image img {
    width: 100%;
}

/* gamer section */
.gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    padding: 95px 12.5%;
    justify-content: space-between;
    align-items: center;
}

.gamer-img img {
    width: 100%;
}

.gamer-content {
    max-width: 40%;
    text-align: right;
}

.gamer-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-text {
    color: #534C64;
    font-size: 18px;
    margin: 20px 0 30px;
}

.moto-title {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
}

.moto {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    /* header section */
    header {
        padding-top: 35px;
    }
    .nav,
    .nav-items ul {
        flex-direction: column;
    }

    .nav-logo-container {
        margin-bottom: 35px;
    }

    .nav-title {
        font-size: 2rem;;
    }

    /* banner section */
    .banner {
        flex-direction: column-reverse;
        padding: 20px;
        gap: 25px;
    }

    .banner-content-container {
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }

    .banner-content {
        max-width: fit-content;
        margin: auto;
        padding: 30px 0;
    }

    .banner-image {
        max-width: 100%;
        padding: 0;
    }

    .banner-image img {
        width: 100%;
    }

    /* gamer section */
    .gamer {
        flex-direction: column;
        padding: 20px;
    }

    .gamer-content {
        max-width: 100%;
        text-align: center;
    }

}


/* responsive for tablet devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* header section */
    header {
        padding-top: 50px;
    }
    .nav {
        flex-direction: column;
    }

    .nav-logo-container {
        margin-bottom: 35px;
    }

    .nav-items ul {
        gap: 3.5rem;
    }

    /* banner section */
    .banner {
        flex-direction: column-reverse;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .banner-content-container {
        width: 80%;
        padding: 0;
        margin-top: 30px;
    }

    .banner-content {
        max-width: fit-content;
        margin: auto;
        padding: 75px 0;
    }

    .banner-image {
        max-width: 75%;
        padding-right: 0;
    }

    .banner-image img {
        width: 100%;
    }
    
    /* gamer section */
    .gamer {
        flex-direction: column;
        padding: 50px;
    }

    .gamer-content {
        max-width: 100%;
        text-align: center;
    }
}